<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Hold et fasit-regneark oppdatert med resultatene etterhvert som kampene spilles. Regnearket må hete Fasit.xls -->
    <add key="Fasit" value="C:\Users\Hallstein\SkyDrive\DEV\EM2016\bin\Debug\_Fasit\"/>
    <!-- Resultatfilen blir liggende i følgende katalog med dagens dato: -->
    <add key="Result" value="C:\Users\Hallstein\SkyDrive\DEV\EM2016\bin\Debug\_Resultat\Resultat_{0}.json"/>
    <!-- Alle regneark må ligge i følgende katalog på navnestandarden WC2014_Fornavn_Etternavn.xls: -->
    <add key="Source" value="C:\Users\Hallstein\SkyDrive\DEV\EM2016\bin\Debug\_Tippeforslag\"/>
    <!-- Navn på liga. VIKTIG - MÅ VÆRE UNIK FRA ANDRE SIN OG MÅ IKKE ENDRES UNDERVEIS-->
    <add key="Liganavn" value="test123"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
